[ req ]
distinguished_name = req_distinguished_name
prompt = no

[ req_distinguished_name ]
C            = US
ST           = State
L            = City
O            = MyOrg
CN           = your.server.name

[ v3_ca ]
basicConstraints        = critical,CA:TRUE
keyUsage                = critical, keyCertSign, cRLSign
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer

[ v3_server ]
basicConstraints        = critical,CA:FALSE
keyUsage                = digitalSignature, keyEncipherment
extendedKeyUsage        = serverAuth
subjectAltName          = @alt_names

[ v3_client ]
basicConstraints        = critical,CA:FALSE
keyUsage                = digitalSignature, keyEncipherment
extendedKeyUsage        = clientAuth

[ alt_names ]
DNS.1 = your.server.name
IP.1  = 192.168.188.148
